---
layout: default
title: Greg Zynda - Home
---

<div id="home">
	<div class="posts">
		<ul>
			{% for post in paginator.posts %}
				<li>
					<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
					<p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
					<a href="{{ site.baseurl }}{{ post.url }}">Read more...</a>
					<p style="text-align:right;"><span>{{ post.date | date_to_string }}</span></p>
				</li>
			{% endfor %}
		</ul>
	</div>
	{% if paginator.total_pages > 1 %}
		<div class="pagination"><center>
			<table><tr>
			{% for page in (1..paginator.total_pages) %}
				{% if page == paginator.page %}
					<td style="background-color: #99173C;">{{ page }}</td>
				{% elsif page == 1 %}
					<td><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></td>
				{% else %}
					<td><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></td>
				{% endif %}
			{% endfor %}
			</tr></table></center>
		</div>
	{% endif %}
</div>
