<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="author" content="Greg Zynda">
		<meta name="keywords" content="bioinformatics,IU,methylation,epigenetics,hpc,make,hacking">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width">
		<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<!-- syntax highlighting CSS -->
		<link rel="stylesheet" href="/css/syntax.css">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="/css/main.css">
		<SCRIPT LANGUAGE="JavaScript" SRC="/js/main.js"></SCRIPT>
	</head>
	<body>
		<div class="site">
			<div class="header" id="banner">
				<object data="/assets/nameThing.svg" type="image/svg+xml" style="height:263px;"></object>
			</div>
			<script type="text/javascript">
				tableCreate();
				updateTable(MatrixA);
			</script>
			<nav>
				<ul>
					{% for link in site.navigation %}
						{% assign current = nil %}
						{% if page.url contains link.url %}
							{% assign current = 'current' %}
						{% endif %}
						<li>
							<a class="{{ current }}" href="{{ link.url }}">{{ link.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</nav>

			{{ content }}

			<div class="footer"><p>&copy;2014 Gregory J Zynda.</p></div>
		</div>
	</body>
	<script type="text/javascript">
		var fps = 0.5;
		var loop = setInterval(function(){
			step(MatrixA,MatrixB);
			var tmp = MatrixA;
			MatrixA = MatrixB;
			MatrixB = tmp;
			tmp = null;
			updateTable(MatrixA);
		}, 1000/fps);
	</script>
</html>
